body{ 
    text-align: center;
    background-color: black;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
} 
header{
    background-image:url("images/Developer.png") ;
    height: 30vh;
    background-size: cover;
}

img{
    width: 200px;
    

}

p{
    text-align: left;

}


